@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);

    --font: 'Karla', sans-serif;
}
body{
    background-color: var(--Grayish-Blue);
    font-family:var(--font);
}
.container{
    padding:4rem 2.5rem;
}
.content{
    padding:2rem 1rem;
    background-color:var(--Light-Gray);
    border-radius:5px 5px 0px 0px;
}
.content h3{
    padding-bottom:1rem;
    color:var(--Cyan);
    font-size:1.5rem;
    font-weight:600;
}
.sub-topic{
    display:inline-block;
    padding-bottom:1rem;
    color:var(--Bright-Yellow);
    font-size:1.2rem;
    font-weight:400;
}
.content p{
    line-height:25px;
    font-size:15px;
    color:darkgray;
}


.content-1{
    padding:2rem 1rem;
    background-color: var(--Cyan);

}
.content-1 h3{
    color:#fff;
    font-weight:600;
    padding-bottom:1rem;
}
.content-1 p{
    color:lightgrey;
    padding-bottom:1rem;
}
.price{
    color:#fff;
    font-size:2rem;
    padding-right:10px;
    font-weight:700;
}
.content-1 h4{
    padding-bottom:1.7rem;
    color:#e2dcdc;
    font-size:1rem;
}
.btn{
    text-transform: capitalize;
    color:#ffffff;
    background-color: var(--Bright-Yellow);
    padding:12px 0 0 0;
    font-size:1.5rem;
    border-radius:5px;
}
.content-1 a{
    text-decoration:none;
    text-align: center;  
}

.content-2{
    padding:1.7rem 1rem;
    background-color: rgb(94, 190, 190);
    border-radius: 0 0 5px 5px;
}
.content-2 h3{
    text-transform: capitalize;
    color:#fff;
    font-size:1.5rem;
    padding-bottom:1.15rem;
}
.content-2 ul li{
    list-style-type:none;
    color:lightgray;
    line-height:25px;
}


@media only screen and (min-width: 992px) {

    .container{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:200px 1fr;
        padding:7rem 20rem;
    }
    .content{
        grid-column:1/-1;
        padding:3rem 30.5px 2.4rem 3rem;
        
    }
    .content p{
        word-wrap: break-word;
    }
    
    .sub-topic{
        padding-bottom:.7rem;
        
    }
    .content-1{
        padding:3rem 2.4rem;
        border-radius:0 0 0 5px ;
    }
    .content-2{
        padding:3rem 2.4rem;
        border-radius:0 0 5px 0;
    }
}

